<!DOCTYPE html>
<html lang="en">
	<!-- container-fluid -->
	<head>
		<title>网站后台管理</title>
		<meta charset="UTF-8" />
     	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/unicorn.main.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/unicorn.grey.css" class="skin-color" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


		 <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>

	</head>

	<body>
		
		<include file="Common:common"/>
		
		
		<div id="content">
			<div id="content-header">
				<h1>后台管理首页</h1>
			</div>
			<ol class="breadcrumb">
				  <li><a href="__APP__/Home/index">首页</a></li>
				  <li class="active">添加药品</li>
			</ol>


			<!-- 主内容区 -->

			

		<form action="__APP__/Home/Nurse/doadd" method="post" class="definewidth m20">
			
			    <table class="table table-bordered table-hover definewidth m10">
			        
			        <tr>
			            <td style="width:130px" class="tableleft">真实姓名</td>
			            <td><input style="width:230px" type="text" name="realname" placeholder="请输入真实姓名"/></td>
			        </tr>
			        <tr>
			            <td class="tableleft">护士职称</td>
			            <td><input style="width:230px" type="text" name="title" placeholder="请输入护士职称"/></td>
			        </tr>
			         <tr>
			            <td class="tableleft">登录用户名</td>
			            <td><input style="width:230px" type="text" name="username" placeholder="请输入登录用户名"/></td>
			        </tr>
			         <tr>
			            <td class="tableleft">登陆密码</td>
			            <td><input style="width:230px" type="password" name="password" placeholder="请输入登陆密码"/></td>
			        </tr>
			        
			        <tr>
			            <td class="tableleft"></td>
			            <td>
			                <button type="submit" class="btn btn-primary" type="button">添加</button>
			            </td>
			        </tr>
			    </table>
		</form>



			
		</div>
		
	</body>
</html>
